:root {
  --primary-color: #BBE1FA;
  --background-color: #575d7b;
  --background-hover: #323646;
  --text-color: #fdf9f9;
  --button-background: #241b3e;
  --button-hover: #ed0d45;
}


.container {
    width: 100%;
    max-height: 500px;
    overflow: auto;

  }
  h4{
    text-align: center;
    color:var(--primary-color);
  }
  .questionContainer {
    background-color:var(--background-color);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: var(--text-color);
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
  }

  .questionContainer:hover{
    background-color: var(--background-hover);

  }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .closeButton {
    background-color: var(--button-background);
    border: none;
    outline: none;
    padding: 10px 50px;
    border-radius: 5px;
    color: #ffff;
    cursor: pointer;
  }
  
  .closeButton:hover {
    background-color: var(--button-hover);

  }