:root {
  --module-background: rgb(127, 136, 255);
  --module-text-color: #BBE1FA;
  --module-hover-background: rgb(61, 68, 165);
}

.ModuleCard {
  width: 100%;
  background-color: var(--module-background);
  color: var(--module-text-color);
  height: 100px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.ModuleCard:hover {
  background-color: var(--module-hover-background);
}
