.ModuleCard {
    width: 100%;
    background-color: rgb(127, 136, 255);
    color: #BBE1FA;
    height: 100px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

.ModuleCard:hover {
	background-color: rgb(61, 68, 165);

}