/* ModulePage.css */
:root {
	--primary-color: rgb(61, 68, 165);
	--hover-color: rgb(92, 92, 229);
	--text-color: #bbe1fa;
	--btn-text-color: #ffff;
  }

.header-container {
	display: flex;
	justify-content: space-between;
	margin-right: 30px;
	margin-left: 30px;
	background-color: #0a0b1e;
	margin-top: 10px;
	padding: 0 10px;
	border-radius: 10px;
}

.header-text {
	color: var(--text-color);
}

.header-info {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.info-text {
	color: var(--text-color);
}

.info-icon {
	margin-left: 10px;
	width: 45px;
	height: 45px;
}

.icon {
	width: 30px;
	height: 30px;
	color: var(--text-color);
	margin-left: 10px;
}

.button-container {
	display: flex;
	justify-content: flex-end;
	margin-right: 30px;
	margin-top: 10px;
	gap: 20px;
}

.nextBtn {
	background-color: var(--primary-color);
    border: none;
    outline: none;
    padding: 10px 50px;
    border-radius: 5px;
    color: var(--btn-text-color);
    cursor: pointer;
  }
  
  .nextBtn:hover {
    background-color:var(--hover-color);
  }
.BackBtn{
	background-color: var(--primary-color);
    border: none;
    outline: none;
    padding: 10px 50px;
    border-radius: 5px;
    color: var(--btn-text-color);
    cursor: pointer;
}

.BackBtn:hover{
    background-color:var(--hover-color);

}

.showAnswer{
	background-color: var(--primary-color);
    border: none;
    outline: none;
    padding: 10px 50px;
    border-radius: 5px;
    color: var(--btn-text-color);
    cursor: pointer;
}

.showAnswer:hover{
    background-color:var(--hover-color);

}

@media screen and (max-width: 600px) {
	
	.BackBtn{
		background-color: var(--primary-color);
		border: none;
		outline: none;
		padding: 10px 10px;
		border-radius: 5px;
		color: var(--btn-text-color);
		cursor: pointer;
	}
	.nextBtn {
		background-color: var(--primary-color);
		border: none;
		outline: none;
		padding: 10px 10px;
		border-radius: 5px;
		color: var(--btn-text-color);
		cursor: pointer;
	  }
	  .showAnswer{
		background-color: var(--primary-color);
		border: none;
		outline: none;
		padding: 10px 10px;
		border-radius: 5px;
		color: var(--btn-text-color);
		cursor: pointer;
	}
}


