:root {
	--main-bg-color: #0a0b1e;
	--accent-color: rgb(36 36 77);
	--hover-accent-color: rgb(36 36 77);
	--text-color: #ffff;
	--button-hover-color:#2cb7a9;
	--input-focus-border-color: #4caf50;
	--input-focus-shadow: 0 0 5px rgba(96, 76, 175, 0.5);
	--submit-button-bg-color: #4c8caf;
	--box-shadow: rgba(179, 187, 193, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  /* --module-background: #76b7d4;
  --module-text-color: #ffff;
  --module-hover-background: rgb(61, 125, 165); */

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	align-items: center;
}

.Container {
	margin: 20px;
	display: flex;
	justify-content: center;
	border-radius: 10px;
	width: 90%;

	/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.Container2 {
	margin: 20px;
	background-color: var(--main-bg-color);
	display: flex;
	justify-content: center;
	border-radius: 10px;
	max-height: 600px;
	width: 80%;
	overflow-y: auto;
	box-shadow: rgba(179, 187, 193, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

		background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.Container3 {
	margin: 20px;
	background-color: var(--main-bg-color);
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 10px;
	width: 90%;
	background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
    
}

h1 {
	color: var(--text-color);
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.9) !important; /* Horizontal offset, vertical offset, blur radius, and shadow color */

}

h3 {
	color: var(--text-color);

}

p {
	color: var(--text-color);
}
.subCategory {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}

.subName {
	background-color: var(--accent-color);
	margin: 10px;
	border-radius: 10px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 0;
	height: 30px;
}

.subName:hover {
	background-color: rgb(3, 9, 64);
}

.questionCount {
	display: flex;
    align-items: center;
    gap: 20px;
}

.buttonContainer{
	display: flex;
	justify-content: space-around;
	gap: 10px;
}

input {
	width: 40px;
	height: 40px;
	padding: 5px;
	margin: 8px 0;
	display: inline-block;
	border: none;
	box-sizing: border-box;
	border-radius: 4px;
	font-size: 16px;
}

/* Style when the input field is focused */
input:focus {
	outline: none;
	border-color: var(--input-focus-border-color); /* Green color */
	box-shadow: var(--input-focus-shadow); /* Light green shadow */
	font-weight: 1000;

}

/* Style for a submit button (optional) */
input[type='submit'] {
	background-color: var(--submit-button-bg-color);
	color: white;
	cursor: pointer;
}

/* Remove the number input spinner arrows */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
.button{
	background-color: var(--hover-accent-color);
    border: none;
    outline: none;
    padding: 1px 50px;
    border-radius: 5px;
    color: var(--text-color);
    cursor: pointer;
	height: 40px;
}

.button:hover{
    background-color: var(--button-hover-color);

}

.backBtnIcon{
	color: #ffff;
	margin-left: 10px;
	font-size: 40px !important;
	margin-top: 10px;
	cursor: pointer;
}

@media screen and (max-width: 600px) {
	.backBtnIcon{
		color: #ffff;
		margin-left: 10px;
		font-size: 30px !important;
		margin-top: 10px;
		cursor: pointer;
	}

	h1 {
		color: var(--text-color);
		font-size: 10px;
	}

	.subName {
		background-color: var(--accent-color);
		margin: 10px;
		border-radius: 10px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		padding: 2px 0px;
		height: 20px;
		
	}
	.subCategory {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 95%;
	}

	p{
		font-size: 10px;
	}

	input {
		width: 25px;
		height: 25px;
		padding: 5px;
		margin: 8px 0;
		display: inline-block;
		border: none;
		box-sizing: border-box;
		border-radius: 4px;
		font-size: 16px;
	}
	h3{
		font-size: 10px;
	}

	.button{
		background-color: var(--hover-accent-color);
		border: none;
		outline: none;
		padding: 1px 10px;
		border-radius: 5px;
		color: var(--text-color);
		cursor: pointer;
		height: 30px;
	}
}