body {
  margin: 0;
  padding:0;
  /* background-color: #04214f; */
  background-image: url("./assest/plane7.png");
  font-family: 'Montserrat', sans-serif;
  background-size: cover;
  /* background-position: center center; */


}

.glass-container {
  background: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
  height: 100vh;
  backdrop-filter: blur('5px');
  

}



::-webkit-scrollbar{
  width: 8px;
}


/* handle hover */

::-webkit-scrollbar-thumb{
  background: #f5f5f5b0;
}

/* handle hover */

::-webkit-scrollbar-thumb:hover{
  background: #32ae7e;
}




/* Track */

::-webkit-scrollbar-track{
  background: #1771c6;
}
