body {
  margin: 0;
  padding:0;
  background-color: #2B2E4A;
  font-family: 'Poppins', sans-serif;
}


::-webkit-scrollbar{
  width: 8px;
}


/* handle hover */

::-webkit-scrollbar-thumb{
  background: #f5f5f5b0;
}

/* handle hover */

::-webkit-scrollbar-thumb:hover{
  background: #32ae7e;
}




/* Track */

::-webkit-scrollbar-track{
  background: #1771c6;
}
